@import 'tailwindcss';

@theme {
	--color-lightBlue: #bfefff;
	--color-darkCyan: rgba(0,255,255,0.1);
}

html,
body,
#app {
	height: 100%;
}

:root {
	color-scheme: light;
}
body {
	background: #000;
	color: #fff;
}

.split-handle {
	width: 6px;
	cursor: ew-resize;
}
